.wrapper {
	background-position: cover;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 10px solid white;
}
.bg-mousecode {
	background: #4F8DBD;
}
// .bg-mousecode:hover {
// 	background: #5D5D5D;
// }
.logo-box {	
	img {
		width: 50em;
		padding: 10px 0;
		margin-top: 120px;
	}
	h4 {
		padding: 10px 0;
		color: white;
		letter-spacing: 1px;
		font-weight: lighter;
		margin-top: 120px;
	}
	a {
		color: white;
		text-decoration: none;
	}
	a:hover {
		color: #5D5D5D;
	}
}
@media only screen and (max-width:737px){
	.wrapper {
		border: 15px solid white;
	}
	.logo-box {
		img {
			width: 25em;
			padding: 5px 0;
			margin-top: 0px;
		}
		h4 {
			padding: 5px 0;
			letter-spacing: 1px;
			margin-top: 50px;
		}
		p {
			padding: 5px 0;
			padding-bottom: 15px;
		}
	}
}
@media only screen and (max-width:490px){
	.wrapper {
	    border: 8px solid white;
	}
	.logo-box {
		padding: 0;
		img {
			width: 23em;
			padding: 2.5px 0;
		}
		h2 {
			font-size: 25px;
			padding: 2.5px 0;
			letter-spacing: 1px;
		}
		p {
			padding: 2.5px 0;
			padding-bottom: 7px;
		}
	}
}
@media only screen and (max-width:387px){
	.logo-box {
		img {
			width: 27em;
			padding: 2.5px 0;
			
	    }
		h4 {
			
		}
	}
}
@media only screen and (max-width:361px){
	.logo-box {
		img {
    		width: 18em;
	    }
		h4 {
	    	
		}
	}
}
@media only screen and (max-width:320px){
	.logo-box {
		img {
    		width: 16.5em;
    		
	    }
		h4 {
	    	
	    	font-size: 18px;
	    	
		}
	}
}



// Specific CSS for your home-page
