<div class="wrapper bg-mousecode">
	<div class="logo-box text-center">
		<%= image_tag "MouseCode-web-design-web-development.png", alt: "Mousecode Web Design Web Development" %>
		<h4 class="floating">&nbsp;<%= link_to "hello@mouse-code.com", "mailto:hello@mouse-code.com"%></h4>
	</div>
</div>
